In [1]:
import pandas as pd

# Step 2: Import the dataset from chipotle.tsv
# Assuming the file "chipotle.tsv" is in the current working directory
file_path = "chipotle.tsv"

# Read the dataset into a DataFrame
chipo = pd.read_csv(file_path, sep='\t')

In [2]:
# Step 3: Assign it to a variable called chipo
chipo = pd.read_csv("chipotle.tsv", sep="\t")

In [3]:
print(chipo.head())

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98

In [4]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [5]:
# Step 4: Convert 'item_price' to numeric format
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:]))

# Step 5: Filter the DataFrame for products costing more than $10.00
expensive_products = chipo[chipo['item_price'] > 10.00]

# Step 6: Count the number of products
num_expensive_products = expensive_products.shape[0]

print("Number of products costing more than $10.00:", num_expensive_products)

Number of products costing more than $10.00: 1130

In [6]:
num_expensive_products

1130

In [7]:
# Step 5: Print a DataFrame with only 'item_name' and 'item_price' columns
item_prices = chipo.loc[:, ['item_name', 'item_price']]

print(item_prices)

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

In [8]:
# Step 6: Sort the DataFrame by the name of the item
sorted_item_prices = item_prices.sort_values(by='item_name')

print(sorted_item_prices)

              item_name  item_price
3389  6 Pack Soft Drink       12.98
341   6 Pack Soft Drink        6.49
1849  6 Pack Soft Drink        6.49
1860  6 Pack Soft Drink        6.49
2713  6 Pack Soft Drink        6.49
...                 ...         ...
2384  Veggie Soft Tacos        8.75
781   Veggie Soft Tacos        8.75
2851  Veggie Soft Tacos        8.49
1699  Veggie Soft Tacos       11.25
1395  Veggie Soft Tacos        8.49

[4622 rows x 2 columns]

In [9]:
sorted_item_prices

              item_name  item_price
3389  6 Pack Soft Drink       12.98
341   6 Pack Soft Drink        6.49
1849  6 Pack Soft Drink        6.49
1860  6 Pack Soft Drink        6.49
2713  6 Pack Soft Drink        6.49
...                 ...         ...
2384  Veggie Soft Tacos        8.75
781   Veggie Soft Tacos        8.75
2851  Veggie Soft Tacos        8.49
1699  Veggie Soft Tacos       11.25
1395  Veggie Soft Tacos        8.49

[4622 rows x 2 columns]

In [10]:
# Step 7: Find the quantity of the most expensive item ordered
most_expensive_item = chipo.sort_values(by='item_price', ascending=False).iloc[0]
quantity_of_most_expensive_item = most_expensive_item['quantity']

print("Quantity of the most expensive item ordered:", quantity_of_most_expensive_item)

Quantity of the most expensive item ordered: 15

In [11]:
# Step 8: Find the number of times a Veggie Salad Bowl was ordered
veggie_salad_bowl_orders = chipo[chipo['item_name'] == 'Veggie Salad Bowl']
num_veggie_salad_bowl_orders = veggie_salad_bowl_orders['quantity'].sum()

print("Number of times a Veggie Salad Bowl was ordered:", num_veggie_salad_bowl_orders)

Number of times a Veggie Salad Bowl was ordered: 18

In [12]:
# Step 9: Find the number of times someone ordered more than one Canned Soda
more_than_one_canned_soda_orders = chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)]
num_more_than_one_canned_soda_orders = more_than_one_canned_soda_orders.shape[0]

print("Number of times someone ordered more than one Canned Soda:", num_more_than_one_canned_soda_orders)

Number of times someone ordered more than one Canned Soda: 20